extends layout

block content
  h1= title
  p The School Admin applicaiton is focused on administering school information

  // Wrapper
  #wrapper

      // About
      #foodInfo
          h2 About Info
          p This is the working hard....

  // Wrapper



  #about
    h2 Menu
    a(href="/") Front Page
    br
    a(href="/foods/listapi") Food List API
    br
    a(href="/foods/new") Create New Food
    br







