extends layout

block content
	p Web Application for integration with Marklogic.

	h2 Components
	p Components used are
	ul
		li NodeJS
		li Express
		li Marklogic NodeJS Client API
		li Bootstrap










