extends layout

block content
  p Welcome to web application with Marklogic 

  #searchFood
    h2 Search
      fieldSet
        input#inputFoodSearch(type='text', placeholder='Tom, Bob, Eliza')
        br
        button#btnSearchFood Go
      

