extends ../layout

block content
	h1.
		#{title}
	ul.nav
		li
			a(href="/") Dashboard
		li
			a(href="/foods/list") Food
		li
			a(href="/foods/listapi") Food API
		li
			a(href="/foods/add") Add Food

	ul
		each blob, i in blobs
			li
				p
					= blob.uri
				p
					= blob.content.price
				p
					= blob.content.popularity
				form(action='/foods/delete?uri=#{blob.uri}',method='post',enctype='application/x-www-form-urlencoded')
					input(type='hidden',value='DELETE',name='_method')
					button(type='submit').
						Delete
				p
					a(href="/foods/read?uri="+blob.uri) Show
				p
					a(href='/foods/edit?uri='+blob.uri) Edit
				p
					a(href="/foods/delete?uri="+blob.uri) Delete

	// FOOD SEARCH
	#searchFood
		h2 Food Search
		fieldSet
			input#inputFoodSearch(type='text', placeholder='onion, tacos, SF')
			br
			button#btnSearchFood Search Food
		strong Search Result:
		p
	// /FOOD SEARCH

