
extends ../layout


block content
  h1.
    Food Read #{uri}
  p Name: #{name}
  p Price: #{price}

  form#formAddFood(name="add-food" method="post" action="/foods/update")
    div.input
      span.label Title
      input#inputTitle(type="text", name="title")
    div.input
      span.label FoodName
      input#inputFoodName(type="text", name="foodname")
    div.input
      span.label Price
      input(type="text", name="foodprice")
    div.input
      span.label Popularity
      input(type="text", name="foodpop")
    div.input
      span.label Description
      textarea(name="description", cols="40", rows="5")
    div.actions
      input#buttonSubmit(type="submit", value="add")






  #about
    h2 Menu
    a(href="/") Front Page
    br
    a(href="/foods/listapi") Food List API
    br
    a(href="/foods/new") Create New Food
    br

